@font-face {
    font-family: 'ignore_17';
    src: url('ignore-webfont.eot');
    src: url('ignore-webfont.eot?#iefix') format('embedded-opentype'),
         url('ignore-webfont.woff2') format('woff2'),
         url('ignore-webfont.woff') format('woff'),
         url('ignore-webfont.ttf') format('truetype'),
         url('ignore-webfont.svg#ignore_17regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
